{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class ="mb-3" style = "color: #7B7B7B;">Transactions made simple, online!</div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="PIN" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
        <br/>
        <a class="nav-link" href="/change">Forgot PIN?</a>
    </form>

{% endblock %}
